.regbody{
	margin: 10%;
}
.regHeader{
	text-align: center;
	color:blue;
	border: 2px solid red;
	border-radius: 10px;
}
.bodyreg{
	margin-top: 50px;
}
.errorPane {background-color: white; color: red; border: none; width:800px; disabled:disabled; type:text}
.errorMsg {background-color: white; color: red; border: none; width:800px; disabled:disabled; type:text; maxlength:60}
.error {background-color: white; color: green; border: none; width:800px; disabled:disabled; type:text}
